* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    min-height: 100%;
    border: 20px solid rgb(44, 120, 158);
    background: rgb(57, 153, 201);
    color: rgba(255, 255, 255, 0.9);
}

/* MAIN */
.content-wrapper {
    width: 66%;
    margin: 50px auto;
}

ul {
    border: 2px solid white;
    list-style: none;
    padding: 0;
    font-size: 0;
    transition: .3s ease-in;
}

li {
    padding: 25px 0;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    border: 2px solid white;
    transition: .3s ease-in;
}

.heading,
.heading+.wi {
    font-size: 25px;
    margin: 0 15px 15px 0;
}

.caption {
    font-size: 12px;
}

li.small-tile {
    width: 25%;
}

li.medium-tile {
    width: 50%;
}

li.big-tile {
    width: 100%;
}

.city {
    display: block;
}

.wi {
    font-size: 20px;
}

/* MAIN */

/* COLORS */
.aqua {
    background-color: rgb(61, 204, 202);
}

.lilac {
    background-color: rgb(152, 102, 151);
}

.red {
    background-color: rgb(192, 72, 74);
}

.orange {
    background-color: rgb(224, 104, 79);
}

.yellow {
    background-color: rgb(254, 203, 111);
}

.light-green {
    background-color: rgb(154, 204, 155);
}

.olive {
    background-color: rgb(104, 152, 152);
}

.pink {
    background-color: rgb(202, 104, 153);
}

.green {
    background-color: rgb(56, 152, 104);
}

.purple {
    background-color: rgb(102, 103, 151);
}

/* COLORS */

/* HOVER */
ul:hover {
    border: 2px solid rgba(255, 255, 255, 0.3);
}

ul:hover li {
    opacity: 0.3;
}

ul li:hover {
    cursor: pointer;
    opacity: 1;
}

/* HOVER */