body {
    height: 100%;
    padding: 15px 0;
    margin: 0;
    border: 20px solid rgb(44, 120, 158);
    background: rgb(57, 153, 201);
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 66%;
    margin: 0 auto;
    color: #fff;
}

.header {
    margin-bottom: 15px;

    .heading,
    .heading+.wi {
        display: inline-block;
        font-size: 26px;
        margin: 0 15px 0 0;
    }
}

.cities {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    transition: .3s ease-in;
    font-size: 0;
    border: 3px solid white;

    &:hover .city {
        opacity: 0.7;
    }

    & .city:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.city {
    box-sizing: border-box;
    display: inline-block;
    padding: 25px 0;
    text-align: center;
    border: 3px solid #fff;
    width: 25%;
    font-size: 20px;
    transition: .3s ease-in-out;

    &__name {
        display: block;
        font-weight: 700;
    }

    &__temp {
        &::after {
            content: '\00B0 C'
        }
    }

    &:first-of-type {
        width: 50%;
        background-color: rgb(57, 153, 201);
    }

    &:nth-child(2) {
        background-color: rgb(61, 204, 202);
    }

    &:nth-child(3) {
        background-color: rgb(152, 102, 151);
    }

    &:nth-child(4) {
        background-color: rgb(192, 72, 74);
    }

    &:nth-child(5) {
        background-color: rgb(224, 104, 79);
    }

    &:nth-child(6) {
        background-color: rgb(254, 203, 111);
    }

    &:nth-child(7) {
        background-color: rgb(154, 204, 155);
    }

    &:nth-child(8) {
        background-color: rgb(104, 152, 152);
    }

    &:nth-child(9) {
        width: 50%;
        background-color: rgb(202, 104, 153);
    }

    &:nth-child(10) {
        background-color: rgb(56, 152, 104);
    }

    &:last-of-type {
        width: 100%;
        background-color: rgb(102, 103, 151);
    }
}

.footer {
    .caption {
        font-size: 16px;
        margin: 0;
    }
}

.map {
    margin-bottom: 15px;
    .gm-style-iw {
        padding: 10px 0;
        color: black;
        font-size: 16px;
    }

    &__heading {
        font-size: 26px;
        margin: 0;
        padding: 15px 0;
    }

    &__wrapper {
        width: 100%;
        min-height: 400px;
        margin: 0 auto;
    }
}